* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Coiny', sans-serif;
    z-index: 10;
    color: white;
}

@font-face {
    font-family: "Balonku";
    src: url("./assets/fonts/Balonku-Regular.ttf") format("truetype");
}

:root {
    background-color: black;
    /* background: linear-gradient(#ff90ff, #42bced); */
    --dark: #141418;
    --dark-alt: rgba(255, 255, 255, 0.15);
    --primary-1: #FF90FF;
    --primary-2: #42BCED;
    --gradient: linear-gradient(90deg, var(--primary-1), var(--primary-2));
}